:root{
    --margen:40px;
}
.container{
    margin: var(--margen);
}
#output{
    display: block;
    margin-top: 210px;
    margin-left: var(--margen);
}

#cabezal{
    padding: 55px;
    border: 10px solid black;
    position: absolute;
    top:cal(var(--margen)+20px);
    left: var(--margen);
    z-index: 10;

}
#cuadro-lista{
    padding: 60px;
    background-color: lightgray;
    position: absolute;
    top:cal(var(--margen)+20px);
    left: var(--margen);
    border: 1px solid black;
}
#caracter{
    position: absolute;
    font-size: 30px;
}

#output-text{
    display: inline;
}
 #state{
    display: inline;
 }
 #step{
    margin: 30px;
    font-size: 30px;
 }
 #validez{
    font-size: 30px;
 }
 .flecha-arriba {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid black;
  position: absolute;
  top: 410px;
  left: 80px
}
#cuadro-cabezal{
}
